body {
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightcyan;
  color: rgb(31, 49, 49);
}

code {
  font-family: 'Oswald', sans-serif;
}
